.article {
  --content-font-size: var(--fs-l);
  --content-rhythm: calc(var(--content-font-size) / 0.75);

  font-size: var(--content-font-size);
  overflow-wrap: break-word;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  padding: 0;
  margin-top: calc(var(--content-rhythm) * 2);
  margin-bottom: calc(var(--content-rhythm) / 2);
  font-family: var(--ff-sans-serif);
  font-weight: 500;
  line-height: var(--lh-tight);
}

.article h2 {
  margin-top: calc(var(--content-rhythm) * 3);
  margin-bottom: var(--content-rhythm);
  font-size: 1.5em;
  font-weight: 700;
}

.article h3 {
  font-size: 1.25em;
}

.article h4 {
  font-size: 1.125em;
}

.article h5 {
  font-size: 1em;
}

.article h6 {
  color: var(--text-faint);
  font-size: 0.875em;
}

.article h2 + h3,
.article h2 + h4,
.article h2 + h5,
.article h2 + h6,
.article h3 + h4,
.article h3 + h5,
.article h3 + h6,
.article h4 + h5,
.article h4 + h6,
.article h5 + h6 {
  margin-top: calc(var(--content-rhythm) / 2);
}

.article p {
  margin-bottom: var(--content-rhythm);
  font-size: 1em;
  line-height: var(--lh-base);
}

.article a {
  color: var(--text-accent);
  font-weight: 600;
  line-height: var(--lh-base);
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article ul,
.article ol {
  margin-bottom: var(--content-rhythm);
  font-size: 1em;
  line-height: var(--lh-base);
}

.article ul li,
.article ol li {
  list-style-position: inside;
}

.article ul li::marker {
  color: var(--text-color);
}

.article pre,
.article code,
.article kbd,
.article samp {
  font-family: var(--ff-monospace);
  font-size: 1em;
}

.article code {
  padding: 0.125em 0.25em;
  background: var(--background-faint);
  border-radius: var(--radius-s);
  font-size: calc(1em / 1.125);
}

.article pre {
  padding: var(--content-rhythm);
  margin-bottom: var(--content-rhythm);
  background: var(--background-code);
  border-radius: var(--radius-m);
  color: var(--text-code);
  outline: 1px solid var(--border-base);
  outline-offset: -1px;
  overflow-x: auto;
}

.article pre code {
  padding: 0;
  background: transparent;
}

.article .katex {
  font-size: calc(21 / 18 * 1em);
}

.katex-display.fleqn > .katex {
  padding-left: 0;
}

.article .katex .newline {
  display: block;
  height: 1rem;
}
