:root {
  --yellow-900: #391900;
  --yellow-850: #482100;
  --yellow-800: #5c2e00;
  --yellow-750: #733f00;
  --yellow-700: #945b00;
  --yellow-650: #b57900;
  --yellow-600: #d19600;
  --yellow-550: #e3aa00;
  --yellow-500: #f2c200;
  --yellow-450: #fbd100;
  --yellow-400: #fbd61b;
  --yellow-350: #fcdb36;
  --yellow-300: #fce051;
  --yellow-250: #fde56c;
  --yellow-200: #feea88;
  --yellow-150: #feefa4;
  --yellow-100: #fff4bf;
  --black: #000000;
  --gray-950: #080809;
  --gray-900: #16171a;
  --gray-800: #33363b;
  --gray-700: #5e626a;
  --gray-600: #898e9a;
  --gray-500: #aab0bd;
  --gray-400: #c0c5d1;
  --gray-300: #cdd3df;
  --gray-200: #dadee8;
  --gray-100: #e7eaf0;
  --gray-75: #ebeef3;
  --gray-50: #f0f3f8;
  --gray-10: #f7faff;
  --white: #fff;
  --purple-1100: #3a0f4d;
  --purple-800: #50156a;
  --purple-700: #651b88;
  --purple-600: #7a21a5;
  --purple-500: #8e2cbf;
  --purple-400: #9f3ed1;
  --purple-300: #b158e1;
  --purple-200: #c474f0;
  --purple-100: #d894ff;
  --blue-950: #000f47;
  --blue-900: #00175c;
  --blue-850: #001f6f;
  --blue-800: #002982;
  --blue-750: #003394;
  --blue-700: #003fa9;
  --blue-650: #024fbf;
  --blue-600: #0660d4;
  --blue-550: #0e72e3;
  --blue-500: #1682ed;
  --blue-450: #2494f6;
  --blue-400: #37a6fc;
  --blue-350: #4cb5fe;
  --blue-300: #62c4ff;
  --blue-250: #78d1ff;
  --blue-200: #92ddff;
  --blue-150: #a6e6ff;
  --blue-100: #b3ecff;
  --orange-900: #541900;
  --orange-800: #8a2d00;
  --orange-700: #ba4100;
  --orange-600: #db5606;
  --orange-500: #ef6a12;
  --orange-400: #fb7c22;
  --orange-300: #ff943d;
  --orange-200: #ffac61;
  --orange-100: #ffc48a;
  --green-900: #002411;
  --green-850: #002f16;
  --green-800: #00391a;
  --green-750: #004420;
  --green-700: #004f25;
  --green-650: #005c2b;
  --green-600: #006b32;
  --green-550: #00803c;
  --green-500: #079248;
  --green-450: #1ba253;
  --green-400: #37b360;
  --green-350: #50c26e;
  --green-300: #6cce82;
  --green-250: #7cd68f;
  --green-200: #8edf9e;
  --green-150: #9fe6ac;
  --green-100: #b1ecbb;
  --cyan-900: #003825;
  --cyan-800: #005237;
  --cyan-700: #006b4a;
  --cyan-600: #05855d;
  --cyan-500: #0f9d74;
  --cyan-400: #24b189;
  --cyan-300: #49c3a2;
  --cyan-200: #77d6be;
  --cyan-100: #a3e9d8;
  --red-900: #330007;
  --red-850: #400109;
  --red-800: #54020b;
  --red-750: #710410;
  --red-700: #8c0714;
  --red-650: #a10a18;
  --red-600: #b30e1c;
  --red-550: #c61623;
  --red-500: #d41e2a;
  --red-450: #db2732;
  --red-400: #e0313a;
  --red-350: #e83c43;
  --red-300: #f04d52;
  --red-250: #f45f63;
  --red-200: #f77476;
  --red-150: #fb8a8b;
  --red-100: #ffa1a1;
}
