:root {
  --background-base: hsl(220deg 5% 6%);
  --background-faint: hsl(220deg 5% 12%);
  --background-header: var(--background-faint);
  --background-code: var(--background-faint);
  --background-note-card: var(--background-faint);

  --background-switcher: hsl(220deg 5% 6%);
  --background-switcher-button: hsl(220deg 5% 18%);

  --text-base: #fff;
  --text-faint: hsl(220deg 4% 80%);
  --text-accent: hsl(210deg 100% 60%);
  --text-code: var(--white);
  --text-note-card: var(--text-base);

  --text-callout-blue: hsl(210deg 100% 60%);
  --text-callout-orange: hsl(25deg 95% 60%);

  --border-base: hsl(0deg 0% 100% / 5%);

  color-scheme: dark;
}
