:root {
  --background-base: #fff;
  --background-faint: hsl(220deg 7% 92%);
  --background-elevated: #fff;

  --background-header: #fff;
  --background-code: hsl(220deg 5% 12%);
  --background-note-card: #fff;
  --background-switcher: var(--background-faint);
  --background-switcher-button: var(--background-elevated);

  --text-base: var(--gray-900);
  --text-faint: var(--gray-700);
  --text-accent: var(--blue-700);
  --text-code: #fff;
  --text-note-card: var(--text-base);
  --text-name-fallback: hsl(262deg 55% 50%);

  --text-callout-blue: var(--blue-700);
  --text-callout-orange: hsl(25deg 95% 35%);

  --border-base: hsl(216deg 10% 10% / 18%);

  color-scheme: light;
}
