:root {
  --background-base: #fff;
  --background-faint: #f6f6f6;
  --background-header: #fff;
  --background-code: hsl(220deg 5% 12%);
  --background-note-card: var(--background-faint);

  --background-switcher: hsl(220deg 7% 92%);
  --background-switcher-button: hsl(220deg 7% 100%);

  --text-base: var(--gray-900);
  --text-faint: var(--gray-700);
  --text-accent: var(--blue-700);
  --text-code: #fff;
  --text-note-card: var(--text-base);

  --border-base: hsl(216deg 10% 10% / 18%);

  color-scheme: light;
}
