:root {
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua',
    Georgia, serif;
  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-m: 1rem;
  --fs-l: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.75rem;
  --fs-4xl: 2rem;
  --fs-5xl: 2.5rem;
  --fs-6xl: 3rem;
  --lh-tight: 1.25;
  --lh-base: 1.5;
  --gap-s: 0.5rem;
  --gap-m: 0.75rem;
  --gap-l: 1rem;
  --gap-xl: 1.25rem;
  --block-margin-2xs: 0.25rem;
  --block-margin-xs: 0.5rem;
  --block-margin-s: 1rem;
  --block-margin-m: 1.25rem;
  --block-margin-l: 1.5rem;
  --block-margin-xl: 1.75rem;
  --block-margin-2xl: 2rem;
  --radius-s: 3px;
  --radius-m: 5px;
  --radius-l: 7px;

  --theme-transition-time: 0.15s;
  --theme-transtion: var(--theme-transition-time) ease-out background;
}

body {
  background-color: var(--background-base);
  color: var(--text-base);
  font-family: var(--ff-sans-serif, sans-serif);
  overflow-y: scroll;
  transition: var(--theme-transtion);
}

.wrapper {
  --wrapper-max-width: 1000px;
  --wrapper-padding: clamp(16px, 3.2vw, 32px);

  width: 100%;
  max-width: calc(var(--wrapper-max-width) + 2 * var(--wrapper-padding));
  height: 100%;
  box-sizing: border-box;
  padding: 0 var(--wrapper-padding);
  margin: 0 auto;
}

.pageTitle {
  margin-bottom: var(--block-margin-m);
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-5xl);
  font-weight: 900;
  line-height: var(--lh-tight);
}

@media (max-width: 1024px) {
  .pageTitle {
    font-size: var(--fs-4xl);
  }
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: var(--fs-3xl);
  }
}
