.toc {
  display: flex;
  width: auto;
  min-width: 16rem;
  max-width: 18rem;
  height: fit-content;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--border-base);
  background: var(--background-faint);
  border-radius: var(--radius-l);
  gap: var(--gap-m);
}

.tocHeading {
  padding: 0 0.5rem;
  font-size: var(--fs-2xl);
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.tocList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tocListItem > .tocList {
  padding-left: 1.5rem;
}

.tocListItemLink {
  display: block;
  width: fit-content;
  padding: 0.125rem 0.5rem 0.25rem;
  border-radius: var(--radius-m);
  color: var(--text-faint);
  font-size: var(--fs-s);
  outline-offset: -2px;
  text-decoration: none;
}

.tocListItemLink:hover {
  color: var(--text-base);
}

.tocListItemLink:focus-visible {
  color: var(--text-base);
  outline: 2px solid var(--text-accent);
}
