@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone UltraLight'), local('RFTone-UltraLight'),
    url('/resources/fonts/RFTone/RFTone-UltraLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone UltraLight Italic'), local('RFTone-UltraLightItalic'),
    url('/resources/fonts/RFTone/RFTone-UltraLightItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone ExtraLight'), local('RFTone-ExtraLight'),
    url('/resources/fonts/RFTone/RFTone-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone ExtraLight Italic'), local('RFTone-ExtraLightItalic'),
    url('/resources/fonts/RFTone/RFTone-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Light'), local('RFTone-Light'),
    url('/resources/fonts/RFTone/RFTone-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Light Italic'), local('RFTone-LightItalic'),
    url('/resources/fonts/RFTone/RFTone-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Regular'), local('RFTone-Regular'),
    url('/resources/fonts/RFTone/RFTone-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Italic'), local('RFTone-Italic'),
    url('/resources/fonts/RFTone/RFTone-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone SemiBold'), local('RFTone-SemiBold'),
    url('/resources/fonts/RFTone/RFTone-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone SemiBold Italic'), local('RFTone-SemiBoldItalic'),
    url('/resources/fonts/RFTone/RFTone-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Bold'), local('RFTone-Bold'),
    url('/resources/fonts/RFTone/RFTone-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Bold Italic'), local('RFTone-BoldItalic'),
    url('/resources/fonts/RFTone/RFTone-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone ExtraBold'), local('RFTone-ExtraBold'),
    url('/resources/fonts/RFTone/RFTone-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone ExtraBold Italic'), local('RFTone-ExtraBoldItalic'),
    url('/resources/fonts/RFTone/RFTone-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Black'), local('RFTone-Black'),
    url('/resources/fonts/RFTone/RFTone-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Black Italic'), local('RFTone-BlackItalic'),
    url('/resources/fonts/RFTone/RFTone-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
