@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Black'), local('RFTone-Black'),
    url('/resources/fonts/RFTone/RFTone-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
