.layout {
  width: 100%;
  padding-top: var(--block-margin-m);
  padding-bottom: var(--block-margin-2xl);
}

.notes {
  display: grid;
  width: 100%;
  gap: var(--gap-xl);
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.note {
  height: 100%;
  grid-row: span 2;
}

.note:nth-child(2) {
  grid-row: span 1;
}
