.layout {
  display: grid;
  width: 100%;
  padding-top: var(--block-margin-m);
  padding-bottom: var(--block-margin-2xl);
  gap: var(--block-margin-m);
  grid-template-columns: 1fr auto;
}

.note {
  width: 100%;
  overflow-x: hidden;
}

.sidebar {
  position: relative;
  height: 100%;
}

.toc {
  position: sticky;
  top: calc(var(--header-height) + var(--block-margin-m));
  max-height: calc(100vh - var(--header-height) - var(--block-margin-m) * 2);
}

@media (max-width: 1024px) {
  .note {
    max-width: 700px;
    margin: 0 auto;
  }

  .sidebar {
    display: none;
  }
}
