.headerSpacer {
  width: 100%;
  height: 3.5rem;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 3.5rem;
  background-color: var(--background-header);
  box-shadow: 0 1px 0 0 var(--border-base);
  overflow-x: auto;
}

.header::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.headerLayout,
.headerNav,
.headerPreferences,
.headerNavList,
.headerNavListItem,
.headerNavListLink {
  height: 100%;
}

.headerLayout {
  display: flex;
  justify-content: space-between;
  gap: var(--block-margin-l);
}

.headerNavList {
  display: flex;
}

.headerNavListItem {
  display: block;
}

.headerNavListLink {
  display: flex;
  align-items: center;
  padding: 0 var(--gap-m);
  color: var(--text-faint);
  font-size: var(--fs-m);
  font-weight: var(--fw-normal);
  text-decoration: none;
}

.headerNavListLink:hover,
.headerNavListLink:focus {
  color: var(--text-accent);
}

.headerPreferences {
  display: flex;
  align-items: center;
}
