.switcher {
  --switcher-button-width: 4.5rem;
  --switcher-button-gap: 0.25rem;

  position: relative;
  display: grid;
  height: 2rem;
  padding: var(--switcher-button-gap);
  border: none;
  background: var(--background-switcher);
  border-radius: var(--radius-l);
  gap: var(--switcher-button-gap);
  grid-template-columns: repeat(3, 1fr);
  isolation: isolate; /* create stacking context */
  outline: 1px solid var(--border-base);
  place-items: center;
  transition: var(--theme-transtion);
}

.switcherLegend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  opacity: 0;
  pointer-events: none;
}

.switcherButton {
  position: relative;
  display: flex;
  width: var(--switcher-button-width);
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-m);
}

.switcherButtonText {
  color: var(--text-faint);
  font-size: var(--fs-s);
  line-height: var(--lh-tight);
}

.switcherButtonSelected .switcherButtonText {
  color: var(--text-base);
}

.switcherRadio {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  appearance: none;
  opacity: 0;
}

.switcherRadio:checked ~ .switcherButtonText {
  color: var(--text-base);
}

.switcherOutline {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-l);
}

.switcherRadio:focus-visible ~ .switcherOutline {
  outline: 2px solid var(--text-accent);
}

.switcherStatus {
  position: absolute;
  z-index: -1;
  top: var(--switcher-button-gap);
  bottom: var(--switcher-button-gap);
  left: var(--switcher-button-gap);
  width: var(--switcher-button-width);
  height: auto;
  background: var(--background-switcher-button);
  border-radius: var(--radius-m);
  outline: 1px solid var(--border-base);
  transition: var(--theme-transtion),
    var(--theme-transition-time) ease-out transform;
}
