.card {
  background: var(--background-note-card);
  border-radius: var(--radius-l);
  color: var(--text-note-card);
  outline: 1px solid var(--border-base);
  outline-offset: -1px;
  transition: var(--theme-transtion);
}

.cardLink {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-l);
  color: inherit;
  text-decoration: none;
}

.cardLink:focus-visible {
  outline: 2px solid var(--text-base);
  outline-offset: 0;
}

.cardLayout {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 5rem;
  flex-direction: column;
  padding: 1rem 1.5rem;
  row-gap: var(--gap-s);
}

.cardTitle {
  font-size: var(--fs-xl);
  font-weight: 600;
  line-height: var(--lh-tight);
}

.cardDescription {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: var(--fs-s);
  font-weight: var(--fw-normal);
  -webkit-line-clamp: 3;
  line-height: var(--lh-base);
  opacity: 0.8;
}
